.cores{
    display: flex;
    background: #F6511D;
    justify-content: center;
    margin-top: 60px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 250px;
}

.txt_footer{
    color: white;
}

.linha{
    border: 1px solid #FFFFFF;
    height: 199px;
}
