<app-header></app-header>
<main>
<p class="titulo">Cadastro</p>
<div class="cadastro">
    <div class="input_cadastro">
        <p>Nome:</p>
        <input type="text">
        <button>Cadastrar</button>
    </div>
    <div class="input_cadastro">
        <p>E-mail:</p>
        <input type="text">
    </div>
    <div class="input_cadastro">
        <p>Telefone:</p>
        <input type="text">
    </div>
    
</div>
<div class="informacoesDoUsuario">

<div class="usuario">
<p>Paulo Andre</p>
<p>paulo@email.com</p>
<p>3349 6788</p>
<button class="editar">Editar</button>
<button class="excluir">Excluir</button>
</div>

<div class="usuario">
<p>Marcos Lucio</p>
<p>marcos@email.com</p>
<p>3349 6788</p>
<button class="editar">Editar</button>
<button class="excluir">Excluir</button>
</div>

<div class="usuario">
<p>Laura Port</p>
<p>laura@email.com</p>
<p>3349 6788</p>
<button class="editar">Editar</button>
<button class="excluir">Excluir</button>
</div>
    
</div>
</main>


<app-footer></app-footer>
