.titulo{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #000000;

}
.cadastro{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.input_cadastro{
    display: flex;
    flex-direction: column;
    
}
button{
    width: 180px;
height: 58px;
margin-top: 30px;
background: #F6511D;
color: white;

}
button:hover{
    background-color: #000000;
    color:white
}
input{
    width: 320px;
    height: 58px;
    box-sizing: border-box;
    border: 1px solid #000000;
}
.informacoesDoUsuario{
    display: flex;
    flex-direction: column;
}
.usuario{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    align-items: center;
}
.editar{
    width: 125px;
    height: 35px;
    color: white;
    background: #F6511D;
    border: 2px solid #F6511D;
    border-radius: 20px;
}
.excluir{
    width: 125px;
    height: 35px;
    background: #41B8D2;
    border: 2px solid #41B8D2;
    border-radius: 20px
}
.informacoesDoUsuario p{
    width: 300px;
}